p {
  font-family: "Gill Sans";
  font-size: 14px;
  margin-bottom: 0px;
  margin-top: 0px;

}

.Email-e {
  margin-bottom: 7px;
}

.l-o {
  border-radius: 3px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width: 250px;
  margin-bottom: 10px;
}

.rt-yu {
  margin-bottom: 13px;
}

.fi-rt {
  background-color: rgb(0, 21, 255);
  color: white;
  text-align: center;
  width: 260px ;
  border-radius: 20px;
  border: none;
  height: 35px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

